# Temp files
.DS_Store
*~

# Compiled files
__pycache__/
.ipynb_checkpoints/

# Distribution / packaging
/build/
/dist/
/*.egg-info/

# Tests and coverage
/.pytest_cache/
/.cache/
/data/

# docs
/docs/generated/
/docs/_build/

# IDEs
/.idea/
/.vscode/

# data
!neural_ot/data/
neural_ot/data/*/
